@font-face {
    font-family: 'allerbold';
    src: url('../fonts/aller_bd-webfont.woff2') format('woff2'),
         url('../fonts/aller_bd-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


body{
  padding-top: 120px;
  
}

.grey{
background: #f1f1f1;
border: none;
height: 120px;
color: snow;
}

.navbar-default .navbar-nav{
  padding-top: 40px;
  margin-right: 100px;

}



.navbar-default .navbar-nav>li>a{
  color: #337ab7;
  background: #f1f1f1;
}

.navbar-default .navbar-nav>li>a:hover{
opacity: 0.7;
background:#f1f1f1;
}
h2.center{
  text-align: center;
  color: dodgerblue;
  word-spacing: 50px;
  font-family:'allerbold';
  font-size: 8rem;
  line-height: 10rem;
  text-shadow: 2px 2px darkslateblue;
  text-align: justify-center;

}
.pad{
  margin-left: 25px;
}
.pad:hover{
  margin-left: 25px;
  opacity: 0.8;
}
.middle{
margin-top: 120px;
margin-left: 130px;
}

footer{
  background-color: dimgray;
  padding: 50px;
}

footer p{
  color: white;
}
p.white{
  color: white;
  font-size: 15px;
  text-align: center;
  margin-top: 12px;
  background-color: rgba(22, 100, 22, 0.7);
  font-weight: bold;
  border-radius: 3px;
  margin-bottom: 80px;
}
.logo{
  max-width: 100%;
  height: 100px;
  margin:  auto;

}
div.col-md-6.color{
  background: #fff278; 
}
div.col-md-6.color2{
  background: lightcoral; 
  
}
div.col-md-6.color3{
  background: lightseagreen; 
  
}
.circle{
  width: 100%;
  border-radius: 100%;
  padding: 50px;
}

.circle-min{
  width: 70%;
  border-radius: 100%;
  padding: 50px;
  margin-left: 90px;
}

div.col-md-2.final{
  background: rgba(54,108,245,1); 
  height: 360px; 
}
.right{
    width: 20%;
    margin-left: 5px;
  }
.right:hover{
    opacity: 0.5;
  }
  .col-md-6.aire{

    padding: 50px;

  }
  .carousel-caption h1{
     text-align: center;
    color: snow;
    word-spacing: 50px;
    font-family:'allerbold';
    font-size: 8rem;
    line-height: 10rem;
    text-shadow: 2px 2px #ff0000;

  }
  .carousel-caption {
    margin: 0;
    padding: 0;

  }


.container2 button {
  width:100%;
}
.container2 ul li {
  cursor:pointer;
}
.der {
  float: right;
}
.der ul{
  list-style: none;
}
.w3-btn.w3-blue.w3-xlarge{
  margin-top: 10px;

}
.left{
  float: left;
}
.dere{
float: right;
}
.glyphicon {
  margin-right: 4px;
}

.main-text{
    position: absolute;
    top: 50px;
    width: 96.66666666666666%;
    color: #FFF;
}

.btn-clear:hover{
    color: #000;
    background-color: #FFF;
}


